<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create A Snippet</title>
  </head>
  <body>
    <form class="" action="/snippet/create" method="post">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="">
      <label for="body">Code Snippet</label>
      <textarea id="body" name="body" value=""></textarea>
      <label for="notes">Notes</label>
      <input type="text" id="notes" name="notes" value="">
      <label for="language">Language</label>
      <input type="text" id="language" name="language" value="">
      <label for="tags">Tags</label>
      <input type="text" id="tags" name="tags" value="">
      <input type="submit" name="" value="Create Snippet">
    </form>
  </body>
</html>
